*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --branco: rgba(255, 255, 255, 0.9);
    --preto: rgba(0, 0, 0, 0.9);
    /*criando uma variável para padronizar cor com as características/ transparência que quero */
}

@font-face {
    font-family: "Clash";
    src: url(fonts/ClashDisplay-Bold.otf) format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Clash";
    src: url(fonts/ClashDisplay-Medium.otf) format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Clash";
    src: url(fonts/ClashDisplay-Regular.otf) format("truetype");
    font-weight: 500;
}

body {
    background-color: black;
    color: var(--branco);
    font-family: "Inter", sans-serif;
}

h1, h2 {
    font-family: "Clash", "Inter", sans-serif;
}

a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(252, 251, 254, 0.9);
    padding: 8px 8px 8px 20px; /*arrumando o espaçamento do botão*/
    /*indo arrumar no html o link do icone vector nos meus botões*/
    gap: 16px; /*espaçamento inteiro no frame da escrita para as imagens dos botoes*/
    border-radius: 40px; /*deixando o botão redondo*/
    color: rgba(0, 0, 0, 0.9);
}
.botoes{
    /* como os botões estão alinhados com o plano de fundo e tava dando bug no espaçamento do segundo botão, aqui vamos alinhas bonitinho */
    display: flex;
    /*flex-direction: column -> colocar um embaixo do outro
    align-items: start;
*/
    gap: 32px;  /*espaçamento entre os botões*/
}
.botaoSecundario{
    background-color: black;
    color: rgba(255, 255, 255, 0.9);
    border: 0.2px solid rgba(255, 255, 255, 0.298);
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 32px 4vw;
    position: absolute;
    z-index: 99;

    h1{
        font-size: 24px;
        font-weight: 500;
    }
}

.botaodesfoque {
    width: 378px;
    height: 213px;
}

.hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bg{
        position: absolute; 
        top: 0;
        left: 0;
        z-index: -1;
    }

    .subtitulo{
    position: relative;
    width: 360px;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 47px;
    margin-bottom: 72px;

    /* &::after{} -> também funciona ao invés de colocar o subtitulo:after*/
    
        video{
            position: absolute;
            top: 0%;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;  
            z-index: -1;
        }

        h4{
            font-size: 16px;
            font-family: "Inter", sans-serif;
            position: relative; 
            font-weight: 400; /*afinando a fonte pq estava mt grossa*/
            color: rgba(159, 159, 159, 0.9);
            mix-blend-mode: color-dodge; /*fazendo o texto interagir com o vídeo de fundo, criando um efeito de fundo*/
            z-index: 2; /*deixando acima do fundo preto no subtitulo after*/
        }
    }

    .subtitulo:after{
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.339);
        position: absolute;
        z-index: 1;
    }

    .conteudo{
        display: flex;
        flex-direction: column;
        justify-content: center; /* alinhando as coisas no centro */
        align-items: center; /* alinhando as coisas no centro */
        padding: 0 10vw; /* 4vw é a margem padrão do header -> alinhando bonitinho */

        h2{
            font-size: 3.5vw; /* vw serve para se ajustar automaticamente na tela do usuário */
            font-weight: 400;
            text-align: center; /* alinhando o texto no centro, pois no conteudo ele não estava alinhado */

        }

        p{
            text-align: center; 
            width: 80%;
            font-size: clamp(16px, 1.1vw, 1.1vw); /* aqui, disse que teria um tamanho mínimo para a fonte*/
            /*clamp é para deixar uma condição fixa, no sentido de responsividade*/
            font-weight: 250;
            line-height: clamp(16px, 1.8vw, 24px); /* altura da linha, mínima e máxima */
            margin-top: 24px; /* margem do parágrafo pq tá muito próxima ao título */

            /*padding: 30px, 20px, 40px, 20px; -> aqui, também é espaçamento interno, ou seja, entre linhas, como na margin. sobre os números: superior, direita, inferior, esquerda */
            margin-bottom: 40px;
        }
    }
}
